body {
  margin: 0;
  box-sizing: border-box;
  background-color: #606051;
}

main {
  margin-left: 1%;
}

h2 , p{
  color: cornflowerblue;
  font-weight: bold;
}

li {
  color: #ffff;
}

.happy {
  width: 155px;
  height: 170px;
  border-radius: 50%;
}
